In [1]:
#Pandas Exercise
import pandas as pd
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
print(diamonds)

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [2]:
diamonds.head(5)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [3]:
First_6_rows = diamonds[['carat', 'cut', 'x', 'y', 'z']]
First_6_rows.head(7)

   carat        cut     x     y     z
0   0.23      Ideal  3.95  3.98  2.43
1   0.21    Premium  3.89  3.84  2.31
2   0.23       Good  4.05  4.07  2.31
3   0.29    Premium  4.20  4.23  2.63
4   0.31       Good  4.34  4.35  2.75
5   0.24  Very Good  3.94  3.96  2.48
6   0.24  Very Good  3.95  3.98  2.47

In [4]:
#Write a Pandas program to create a new 'Quality -color' Series (use bracket notation to define the Series name) of the diamonds DataFrame.
diamonds['Quality-color']=diamonds.cut + ', ' + diamonds.color
diamonds.head(6)

,carat,cut,color,clarity,depth,table,price,x,y,z,Quality-color
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,"Ideal, E"
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,"Premium, E"
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,"Good, E"
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,"Premium, I"
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,"Good, J"
5,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48,"Very Good, J"

In [6]:
#Write a Pandas program to find the number of rows and columns and data type of each column of diamonds Dataframe.
print(diamonds.shape)
print(diamonds.dtypes)

(53940, 11)
carat            float64
cut               object
color             object
clarity           object
depth            float64
table            float64
price              int64
x                float64
y                float64
z                float64
Quality-color     object
dtype: object

In [7]:
#Write a Pandas program to summarize only 'object' columns of the diamonds Dataframe.
print(diamonds.describe(include=['object']))

          cut  color clarity Quality-color
count   53940  53940   53940         53940
unique      5      7       8            35
top     Ideal      G     SI1      Ideal, G
freq    21551  11292   13065          4884

In [9]:
diamonds.rename(columns={'color':'diamond-color','clarity':'diamond-clarity'},inplace = True)
diamonds.head(2)

,carat,cut,diamond-color,diamond-clarity,depth,table,price,x,y,z,Quality-color
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,"Ideal, E"
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,"Premium, E"

In [12]:
#Write a Pandas program to remove the second column of the diamonds Dataframe.
diamonds.drop('cut',axis = 1, inplace = True)
diamonds

,carat,diamond-color,diamond-clarity,depth,table,price,x,y,z,Quality-color
0,0.23,E,SI2,61.5,55.0,326,3.95,3.98,2.43,"Ideal, E"
1,0.21,E,SI1,59.8,61.0,326,3.89,3.84,2.31,"Premium, E"
2,0.23,E,VS1,56.9,65.0,327,4.05,4.07,2.31,"Good, E"
3,0.29,I,VS2,62.4,58.0,334,4.20,4.23,2.63,"Premium, I"
4,0.31,J,SI2,63.3,58.0,335,4.34,4.35,2.75,"Good, J"
...,...,...,...,...,...,...,...,...,...,...
53935,0.72,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,"Ideal, D"
53936,0.72,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,"Good, D"
53937,0.70,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,"Very Good, D"
53938,0.86,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,"Premium, H"
53939,0.75,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,"Ideal, D"

In [13]:
diamonds.drop(['depth', 'price'], axis=1, inplace=True)
print(diamonds.head())

   carat diamond-color diamond-clarity  table     x     y     z Quality-color
0   0.23             E             SI2   55.0  3.95  3.98  2.43      Ideal, E
1   0.21             E             SI1   61.0  3.89  3.84  2.31    Premium, E
2   0.23             E             VS1   65.0  4.05  4.07  2.31       Good, E
3   0.29             I             VS2   58.0  4.20  4.23  2.63    Premium, I
4   0.31             J             SI2   58.0  4.34  4.35  2.75       Good, J

In [14]:
#Write a Pandas program to remove multiple rows at once (axis=0 refers to rows) from diamonds dataframe.
diamonds.drop([2,3],axis = 0 , inplace = True)
diamonds

,carat,diamond-color,diamond-clarity,table,x,y,z,Quality-color
0,0.23,E,SI2,55.0,3.95,3.98,2.43,"Ideal, E"
1,0.21,E,SI1,61.0,3.89,3.84,2.31,"Premium, E"
4,0.31,J,SI2,58.0,4.34,4.35,2.75,"Good, J"
5,0.24,J,VVS2,57.0,3.94,3.96,2.48,"Very Good, J"
6,0.24,I,VVS1,57.0,3.95,3.98,2.47,"Very Good, I"
...,...,...,...,...,...,...,...,...
53935,0.72,D,SI1,57.0,5.75,5.76,3.50,"Ideal, D"
53936,0.72,D,SI1,55.0,5.69,5.75,3.61,"Good, D"
53937,0.70,D,SI1,60.0,5.66,5.68,3.56,"Very Good, D"
53938,0.86,H,SI2,58.0,6.15,6.12,3.74,"Premium, H"
53939,0.75,D,SI2,55.0,5.83,5.87,3.64,"Ideal, D"

In [15]:
#Write a Pandas program to sort the 'cut' Series in ascending order (returns a Series) of diamonds Dataframe.
print("\n carat Series in ascending order :")
result = diamonds.carat.sort_values(ascending=True)
print(result)

 carat Series in ascending order :
31593    0.20
31597    0.20
31596    0.20
31595    0.20
31594    0.20
         ...
25998    4.01
25999    4.01
27130    4.13
27630    4.50
27415    5.01
Name: carat, Length: 53938, dtype: float64

In [17]:
result = diamonds.carat.sort_values(ascending=False)
print(result)

27415    5.01
27630    4.50
27130    4.13
25998    4.01
25999    4.01
         ...
31597    0.20
31598    0.20
31600    0.20
31601    0.20
31599    0.20
Name: carat, Length: 53938, dtype: float64

In [19]:
result = diamonds.sort_values(by = 'carat', ascending=False)
result

,carat,diamond-color,diamond-clarity,table,x,y,z,Quality-color
27415,5.01,J,I1,59.0,10.74,10.54,6.98,"Fair, J"
27630,4.50,J,I1,58.0,10.23,10.16,6.72,"Fair, J"
27130,4.13,H,I1,61.0,10.00,9.85,6.43,"Fair, H"
25998,4.01,I,I1,61.0,10.14,10.10,6.17,"Premium, I"
25999,4.01,J,I1,62.0,10.02,9.94,6.24,"Premium, J"
...,...,...,...,...,...,...,...,...
31597,0.20,D,VS2,57.0,3.81,3.77,2.33,"Ideal, D"
31598,0.20,E,VS2,59.0,3.74,3.71,2.36,"Very Good, E"
31600,0.20,D,VS2,60.0,3.73,3.68,2.31,"Premium, D"
31601,0.20,D,VS2,60.0,3.77,3.72,2.31,"Premium, D"
31599,0.20,E,VS2,57.0,3.76,3.73,2.33,"Ideal, E"

In [20]:
#Write a Pandas program to filter the DataFrame rows to only show carat weight at least 0.3.
filt = (diamonds['carat'] >= 0.3)
diamonds =  diamonds[filt]
diamonds

,carat,diamond-color,diamond-clarity,table,x,y,z,Quality-color
4,0.31,J,SI2,58.0,4.34,4.35,2.75,"Good, J"
10,0.30,J,SI1,55.0,4.25,4.28,2.73,"Good, J"
13,0.31,J,SI2,54.0,4.35,4.37,2.71,"Ideal, J"
15,0.32,E,I1,58.0,4.38,4.42,2.68,"Premium, E"
16,0.30,I,SI2,54.0,4.31,4.34,2.68,"Ideal, I"
...,...,...,...,...,...,...,...,...
53935,0.72,D,SI1,57.0,5.75,5.76,3.50,"Ideal, D"
53936,0.72,D,SI1,55.0,5.69,5.75,3.61,"Good, D"
53937,0.70,D,SI1,60.0,5.66,5.68,3.56,"Very Good, D"
53938,0.86,H,SI2,58.0,6.15,6.12,3.74,"Premium, H"
53939,0.75,D,SI2,55.0,5.83,5.87,3.64,"Ideal, D"

In [21]:
result = diamonds[(diamonds.x>5) & (diamonds.y>5) & (diamonds.z>5)]
print(result.head())

       carat diamond-color diamond-clarity  table     x     y     z  \
11778   1.83             J              I1   58.0  7.34  7.28  5.12
13002   2.14             J              I1   57.0  7.74  7.70  5.36
13118   2.15             J              I1   57.0  8.01  7.95  5.23
13562   1.96             F              I1   60.0  7.59  7.56  5.04
13757   2.22             J              I1   56.0  8.04  8.02  5.36

      Quality-color
11778       Fair, J
13002       Fair, J
13118       Fair, J
13562       Fair, F
13757       Fair, J

In [22]:
#Write a Pandas program to find the diamonds that are either Premium or Ideal.
resukt = diamonds[(diamonds.cut=='Premium')|(diamonds.cut=='Ideal')]
resukt

AttributeError: 'DataFrame' object has no attribute 'cut'